.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6005c; /* Header color */
  color: white;
  padding: 15px 25px;
  height: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  flex: 1;
  text-align: center;
}

.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0 10px;
  outline: none;
}

.back-button:hover {
  color: #ffccda;
}

.header-icon {
  width: 70px; /* Icon size */
  height: 70px; /* Icon size */
  border-radius: 50%; /* Circular shape */
  object-fit: cover; /* Image adjustment */
  margin-right: 5px; /* Reduce separation */
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.hamburger-menu div {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

.menu-dropdown {
  position: absolute;
  top: 80px; /* Adjust based on header height */
  left: 0;
  width: 100%;
  background-color: #e6005c;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu-item {
  display: block;
  padding: 10px 20px;
  color: black; /* Change color to black */
  text-decoration: none;
}

.menu-item:hover {
  background-color: black; /* Change hover background color to black */
}

.sidebar {
  position: fixed;
  top: 80px; /* Adjust based on header height */
  left: 0;
  width: 250px;
  height: calc(100% - 80px); /* Adjust based on header height */
  background-color: #333; /* Gray color for contrast */
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.sidebar-open {
  transform: translateX(0);
}

.sidebar-close {
  transform: translateX(-100%);
}


.close-sidebar {
  display: none;
}

.sidebar-item {
  background-color: #333; /* Default background color to gray */
  padding: 15px 20px;
  color: white; /* Change color to black */
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #202020; /* Change hover background color to black */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header-container {
    padding: 10px 20px;
    height: 70px;
  }

  .header-title {
    font-size: 1.4rem;
  }

  .back-button {
    font-size: 1.1rem;
    padding: 0 8px;
  }

  .header-icon {
    width: 60px;
    height: 60px;
    margin-right: 5px; /* Reduce separation */
  }

  .hamburger-menu {
    display: flex;
  }

  .menu-dropdown {
    top: 70px; /* Adjust based on header height */
  }

  .sidebar {
    top: 70px; /* Adjust based on header height */
    height: calc(100% - 70px); /* Adjust based on header height */
  }
}

@media (max-width: 480px) {
  .header-container {
    padding: 8px 16px;
    height: 60px;
  }

  .header-title {
    font-size: 1.2rem;
  }

  .back-button {
    font-size: 1rem;
    padding: 0 6px;
  }

  .header-icon {
    width: 50px;
    height: 50px;
    margin-right: 5px; /* Reduce separation */
  }

  .menu-dropdown {
    top: 60px; /* Adjust based on header height */
  }

  .sidebar {
    top: 60px; /* Adjust based on header height */
    height: calc(100% - 60px); /* Adjust based on header height */
  }
}
